apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"ai-service","namespace":"default"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"ai-service"}},"template":{"metadata":{"labels":{"app":"ai-service"}},"spec":{"containers":[{"env":[{"name":"DB_HOST","value":"postgres"},{"name":"REDIS_HOST","value":"redis"}],"envFrom":[{"secretRef":{"name":"ai-secrets"}}],"image":"songhyunkwang/pai-service-ai:latest","name":"ai-service","ports":[{"containerPort":8080}]}]}}}}
  creationTimestamp: "2025-12-16T10:45:20Z"
  generation: 1
  name: ai-service
  namespace: default
  resourceVersion: "14810"
  uid: 0859fce0-5542-48f3-92d3-b6ad3f8d4536
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: ai-service
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: ai-service
    spec:
      containers:
      - env:
        - name: DB_HOST
          value: postgres
        - name: REDIS_HOST
          value: redis
        envFrom:
        - secretRef:
            name: ai-secrets
        image: songhyunkwang/pai-service-ai:latest
        imagePullPolicy: Always
        name: ai-service
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2025-12-16T10:48:49Z"
    lastUpdateTime: "2025-12-16T10:48:49Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2025-12-16T10:45:20Z"
    lastUpdateTime: "2025-12-16T10:48:49Z"
    message: ReplicaSet "ai-service-c5f64655f" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 1
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
