apiVersion: v1
kind: Service
metadata:
  name: media-service
  namespace: default
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3002
    protocol: TCP
  selector:
    app: media-service
